@import "vars";

*{
  box-sizing: border-box;
  font-family: $primaryFont;
  font-weight:300;

}

body,html{
  margin: 0;
  overflow-y:hidden;
}

.siteContainer{
  margin: 0 auto;
  padding:35px;
}

.largeTitle{
  font-size:62px;
  font-weight:200;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);

  span{
    font-weight:inherit;
    opacity: 0.3;
  }

  .weatherIcon{
    height:80px;
    margin-right:30px;
  }
}
