@import "vars";

*{
  box-sizing: border-box;
  font-family: $primaryFont;

}

body,html{
  margin: 0;
  overflow-y:hidden;
}

.siteContainer{
  margin: 0 auto;
  max-width:90%;
  @media #{$desktop}{
    max-width:80%;

  }
}

.largeTitle{
  font-size:32px;
  font-weight:bold;
}
