.searchBox{
  width:60%;
  display:flex;
  input, button{
    border:0;
    height:80px;
  }
  input{
    width:80%;
    background:$grey;
    font-family:$primaryFont;
    padding:10px;
    font-size:18px;
    padding-right:20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
  }
  button{
    width:15%;
    background:$purple;
    border-radius: 10px;
    margin-left:-10px;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    i{
      color:$white;
      font-size:20px;
    }
  }
}