/* --- Colours --- */

$black: #151820;
$red: #FF6F6B;

$orange:#FFB983;
$purple:#4C6FFF;


$white: #fff;
//$black: #252644;
$grey: #F2F4F8;
$lightGrey: lighten($grey, 5%);

/* --- Colours --- */

$containerRadius:60px;


/* --------------------------------*/

/* --- Fonts --- */

$primaryFont: 'Baloo Tamma 2', 'Open Sans', sans-serif;
//$secondaryFont: 'Open Sans';

/* --- Fonts --- */

$boxShadow: 0px 30px 60px rgba($black, 0.16);

/* --------------------------------*/


/* --- Media Querys --- */

$largeMobile: "(min-width: 425px)";
$small-tablet: "(min-width: 600px)";
$tablet: "(min-width: 768px)";
$laptop: "(min-width: 1024px)";
$desktop: "(min-width: 1420px)";

// example: @media #{$small-tablet} { }

/* --- Media Querys --- */
